@use "variables" as v;
@use "functions" as f;

@layer utilities {
	$increment: 0.25rem;
	$Hincrement: 10vh;
	$directions: (
		t: top,
		b: bottom,
		l: left,
		r: right,
	);

	// Height //

	@for $i from 1 through 10 {
		.h-#{$i} {
			height: $i * $Hincrement;
		}
	}

	// Spacing //

	@for $i from 1 through 8 {
 
		
		.w-#{$i} {
			width: $i * $increment;
		}

		.m-#{$i} {
			margin: $i * $increment;
		}
		.p-#{$i} {
			padding: $i * $increment;
		}
		.px-#{$i} {
			padding-left: $i * $increment;
			padding-right: $i * $increment;
		}
		.mx-#{$i} {
			padding-left: $i * $increment;
			padding-right: $i * $increment;
		}
		.py-#{$i} {
			padding-top: $i * $increment;
			padding-bottom: $i * $increment;
		}
		.my-#{$i} {
			padding-top: $i * $increment;
			padding-bottom: $i * $increment;
		}
		.radius-#{$i} {
			border-radius: $i * $increment;
		}	
		.max-w-#{$i} {
			max-width: calc(f.rem($i*100));
		}
		@each $name, $value in $directions {
			.m#{$name}-#{$i} {
				margin-#{$value}: $i * $increment;
			}
			.p#{$name}-#{$i} {
				padding-#{$value}: $i * $increment;
			}
		}
	}

	// Colors //

	@each $name, $value in v.$colors {
		.bg-#{$name} {
			background-color: var(--#{$name});
		}
		.border-#{$name} {
			border-color: var(--#{$name});
		}
	}
}
