@use "../partials/variables" as v;
@use "../partials/functions" as f;
@use "../partials/fonts" as fonts;
@layer components {
	.commandes-box {
        background-color: var(--l-grey);
        width: f.rem(350);
        height: f.rem(350);
        border-radius: f.rem(24);
        text-align: center;
        &-title{
            width: 80%;
            padding: f.rem(25);
            font-size: f.rem(14);
            font-weight: 700;
            background-color: var(--l-black);
            color: var(--white);
            text-transform: uppercase;
            transform: translate(0, f.rem(-30));
            text-align: center;
            margin: auto;
        }
        ul{
            margin: 0;
            text-align:justify;
            max-height: f.rem(250);
            overflow-y: auto;
            @each $name, $screenSize in v.$breakpoints {
                @media screen and (max-width: $screenSize) {
                    @if ($name == "xl") {
                            list-style: none;
                            padding: f.rem(16); 
                    } 
                }
            }
        }
        li{
            font-size: f.rem(16);
            padding-left:f.rem(10);
            margin: f.rem(10) 0;
        } 
        
    }
}
