@use "../partials/functions" as f;
@use "../partials/variables" as v;
@use "../partials/mixins" as m;
@layer components {
	.redirectCo {
		padding: f.rem(24) f.rem(16);
        p{
            margin:0 f.rem(5);
            color: var(--grey)
        }
        a{
            color: var(--d-grey)
        }
	}
}
