@use "../partials/variables" as v;
@use "../partials/functions" as f;
@layer components {
	.services {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);

        & > :first-child {
            grid-column: span 2;
        }
    }
}
